wheel
numpy
yfinance
pandas
pytrends
matplotlib
scipy
backtesting
pytest
numba
spyder
bs4
python-dotenv


# Database
pyarrow
sqlalchemy


# Machine learning stuff
sklearn
tensorboard
tensorboardX

# Pytorch
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cu102
torchvision==0.9.1+cu102
torchaudio===0.8.1 


git+https://github.com/johnh865/globalcache.git